# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# Coverage
.coverage
htmlcov/

# Cache
.cache/

# Redis dump (ako ikad nastane)
dump.rdb